.reviews-container{
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    overflow-x: auto;
}

.reviews-container .review{
    background: rgba(115, 238, 98, 0.09);
    box-shadow: 0.1px 1px 4px #000000;
    backdrop-filter: blur( 14px );
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.reviews-container .review:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.reviews-container .review .review-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviews-container .review .review-top p{
    color: #FFFFFF;
}
.reviews-container .review .review-top .review-top-1 img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.reviews-container .review .review-center{
    width: 100%;
    margin: 10px 0;
}

.reviews-container .review .review-bottom p{
    color: #FFFFFF;
}

.rc-header{
    text-align: center;
    margin-top: -5g0px;
}

.rc-header hr{
    opacity: 0.3;
    margin: 10px 20px;
    border-color: #FFEA00;
}

.rc-header h1{
    font-weight: 800;
    color: #FFEA00;
}
.rc-header h2{
    color: #FFEA00;
}
/*------------------MOBILE-------------------*/
@media (max-width:768px) and (min-width:100px) {
 .reviews-container{

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}


.rc-header{
    text-align: center;
    margin-top: 10px;
}

.rc-header hr{
    opacity: 0.3;
    margin: 10px 20px;
}

.rc-header h1{
    font-weight: 800;
    font-size: 20px;
}   
.rc-header h2{
    font-size: 15px;
}
}