.featured-collection-container{
    margin: 10px 0;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.featured-collection-container .featured-clothes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    overflow-x: auto;
}

.featured-collection-container .featured-clothes .featured-cloth{
    width: 100%;
    padding: 5px;
}
.featured-collection-container .featured-clothes .featured-cloth img{
    width: 100%;
    border-radius: 10px;
    height:300px
}

.featured-collection-container .featured-clothes .featured-cloth img:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.fc-header{
    text-align: center;
    margin: 20px 0;
}

.fc-header hr{
    opacity: 0.3;
    margin: 10px 20px;
    border: 1px solid #FFEA00;
}

.fc-header h1{
    font-weight: 800;
    color: #FFEA00;
}
.fc-header h2{
    color: #FFEA00;
}
.fc-header h3{
    color: #FFEA00;
}

.featured-collection-container .featured-clothes::-webkit-scrollbar {
  width: 0; 
  height: 0px;
}
.featured-collection-container .featured-clothes::-webkit-scrollbar-track {
  background:#FFEA00;  
}
.featured-collection-container .featured-clothes::-webkit-scrollbar-thumb {
  background-color: #FFFFFF; 
  border-radius: 10px;
}
.featured-collection-container .shimmer{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
}
.featured-collection-container .shimmer .shimmer-class{
    width: 100%;
    height: 200px;
    background-color: #C9C9C9;
    border-radius: 5px;
    box-shadow: 0.5px 1px 2px #FFFFFF;
    backdrop-filter: blur(14px);
    animation: shimmer 5s infinite;
}
.featured-collection-container .shimmer .shimmer-class:hover{
    cursor: pointer;
    transform: translateY(-4px);
}
@keyframes shimmer {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.8;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.4;
    }
    100%{
        opacity: 0.2;
    }
    
}

/*-----------------------MOBILE----------------------*/

@media (max-width:426px) and (min-width:100px) {
.featured-collection-container{
    margin: 10px 0;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.featured-collection-container .featured-clothes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}

.featured-collection-container .featured-clothes .featured-cloth{
    width: 100%;
    padding: 5px;
}
.featured-collection-container .featured-clothes .featured-cloth img{
    width: 100%;
    border-radius: 10px;
    height:200px;
}

.featured-collection-container .featured-clothes .featured-cloth img:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.fc-header h1{
    font-size: 25px;
}

.fc-header h2{
    font-size: 15px;
}

.fc-header h3{
    font-size: 15px;
}

.featured-collection-container .shimmer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.featured-collection-container .shimmer .shimmer-class{
    width: 100%;
    height: 150px;
}
    
}

@media (max-width:800px) and (min-width:427px) {
.featured-collection-container{
    margin: 10px 0;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.featured-collection-container .featured-clothes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}

.featured-collection-container .featured-clothes .featured-cloth{
    width: 100%;
    padding: 5px;
}
.featured-collection-container .featured-clothes .featured-cloth img{
    width: 100%;
    border-radius: 10px;
    height:40vh;
}

.featured-collection-container .featured-clothes .featured-cloth img:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.fc-header h1{
    font-size: 25px;
}

.fc-header h2{
    font-size: 15px;
}

.fc-header h3{
    font-size: 15px;
}
    
}



