.cart-container{
    width: 100%;
    padding-bottom: 50px;
}

.cart-container .cart-header{
    padding: 10px 20px;
    
}

.cart-container .cart-header h1{
 color: #FFEA00;
 font-weight: 700;
}

.cart-container .cart-top{
    padding: 20px;
    overflow-x: auto;
}

.cart-container .cart-top .cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart-container .cart-top .cart-item .cart-item-left {
    display: flex;
    gap: 10px;
}
.cart-container .cart-top .cart-item .cart-item-left .cart-item-left-1 img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.cart-container .cart-top .cart-item .cart-item-left .cart-item-left-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-container .cart-top .cart-item .cart-item-left .cart-item-left-2 span{
    background-color: #000000;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}
.cart-container .cart-top .cart-item .cart-item-left img:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 1px 1px #FFFFFF;
    backdrop-filter: blur(10px);
}
.cart-container .cart-top .cart-item .cart-item-center-2{
    align-self: top;
}
.cart-container .cart-top .cart-item .cart-item-center-2 input{
    background: transparent;
    outline: 0;
    border: 1px solid #FFFFFF;
    padding: 10px;
    border-radius: 4px;
}
.cart-container .cart-top .cart-item .cart-item-right img{
    width: 100px;
}
.cart-container .cart-top .cart-item .cart-item-right img:hover{
    cursor: pointer;
    width: 80px;
    transition: 0.2s ease-in;
}

.cart-container .cart-top hr{
    margin:10px 0px;
}

.cart-container .cart-bottom{
    justify-self: flex-end;
    padding:0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-container .cart-bottom .cart-bottom-header h2{
    color: #FFEA00;
    font-weight: 600;
}
.cart-container .cart-bottom .cart-bottom-item-1{
    display: flex;
    justify-content: space-between;
}

.cart-container .cart-bottom .cart-bottom-item-2{
    display: flex;
    justify-content: space-between;
}

.cart-container .cart-bottom .cart-bottom-item-3{
    display: flex;
    justify-content: space-between;
}
.cart-container .cart-bottom hr{
    margin: 10px 0;
}

.cart-container .cart-bottom .cart-bottom-item-btn button{
    background-color: #FFEA00;
    padding: 10px;
    margin-top: 5px;
    outline: 0;
    border: 0;
    color: #000000;
    font-weight: 600;
    border-top-left-radius:10px ;
    border-bottom-right-radius:10px ;
}

.cart-container .cart-bottom .cart-bottom-item-btn button:hover{
    cursor: pointer;
    transform: translateY(2px);
}

/*-----------------------Mobile-----------------------*/
